@episerver:registry=https://pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/registry/:username=Phu.nguyen
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/registry/:_password=${AZURE_TOKEN}
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/registry/:email=Phu.nguyen@optimizely.com
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/:username=Phu.nguyen
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/:_password=${AZURE_TOKEN}
//pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/headless_forms_beta/npm/:email=Phu.nguyen@optimizely.com
; end auth token