name: Optimizely Headless Form CI

on:
  push:
    branches:
      - main
      - develop
      - release/**
  pull_request:
    branches:
      - "*"
      - main
      - feature/**
      - release/**

permissions:
  contents: write
  packages: write
  id-token: write

env:
  NPM_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build_test_pack:
    name: Build, test, and publish
    runs-on: windows-latest
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Setup dependencies
        run: npm ci

      - name: Run build SDK
        run: npm run build --if-present

      - name: Run unit test
        run: npm test

      - name: Apply Versioning
        run: |
          echo "running on branch" ${{env.BRANCH_NAME}}
          ${{ github.workspace}}/build/get-versionSuffix.ps1 ${{env.BRANCH_NAME}} ${{github.RUN_NUMBER}}

      - name: Publish
        if: ${{ contains(github.ref,'release/') || github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' }}
        run: npm run publish